# Recycle Bin used on file shares
$RECYCLE.BIN/

# Files
Desktop.ini
Thumbs.db
ehthumbs.db
*.cab
*.msi
*.msm
*.msp
*.lnk
*.css.map

# Folders
nbproject/private/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
